extends ../partial_views/layout

block content
	form(method='post', action='login')
		label(for='txtEmail') Email
		input#txtEmail(name='txtEmail', type='email', placeholder='email')
		label(for='txtPassword') Password
		input#txtPassword(name='txtPassword', type='password', placeholder='password')
		input#chkRememberMe(name='chkRememberMe', type='checkbox', value='Remember Me')
		label(for='chkRememberMe') Remember&nbsp;Me
		input#btnSubmit(name='btnSubmit', type='submit', value='Login')