/* Large desktop */
@media (min-width: 1200px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
/* general classes */
.display-none {
  display: none;
}
.ww {
  word-wrap: break-word;
}
/* override twitter bootstrap */
.row {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.alert {
  margin-bottom: 0;
}
.ss-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-top-sm {
  line-height: 60%;
  margin: 0 0.5em 0 0.3em;
  color: grey;
}
.header-top-sm:hover {
  color: black;
}
.header-top-sm a {
  color: inherit;
  text-decoration: none;
}
.header-top-sm ahover {
  color: black;
}
