mixin errorList(alerts)
	each alert, i in alerts
		div= alert
		

//- end of mixin

- if (typeof(alerts) !== 'undefined')
	div#alert-container
		div.alert.alert-danger
			button.close(type='button', data-dismiss='alert') &times;
			mixin errorList(alerts)