mixin errorList(alerts)
	ul#alert-ul
		each alert, i in alerts
			li=alert
		

//- end of mixin

- if (typeof(alerts) !== 'undefined')
	div#alert-container
		div.alert.alert-danger
			button.close(type='button', data-dismiss='alert') &times;
			mixin errorList(alerts)
- else
	div#alert-container
		div.alert.alert-danger.display-none
			button.close(type='button', data-dismiss='alert') &times;
			ul#alert-ul