doctype 5
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- jQuery
    script(src='http://code.jquery.com/jquery.js')
    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css')
    //- Latest compiled and minified JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js')
  body
    block content